.workspace {
  line-height: 0;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: normal;
}

.current-user {
  font-size: calc(10px + 2vmin);
  font-weight: normal;
  margin: 1em 0 0;
  padding: 1px 7px 2px;
}

.stage {
  position: relative;
}

.guard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 0;
}

.canvas-guard {
  background: rgba(254, 87, 161, 0.65);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-guard {
  transform: scale(0.5);
}
