.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  max-width: 882px;
  pointer-events: none;
}

.App-header {
  padding: 2ch;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-button {
  background: transparent;
  border: 0;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  margin-top: 1em;
}
